<?xml version="1.0" ?>

<launch>

<!--   start cpp file that get info from coppelia simulation and put that in sensor_msgs/JointState  -->
<!--	<node pkg="kuka_tree_print" name="kuka_tree_print" type="kuka_tree_print" output="screen">-->


<!--	start robot_state_publisher and joint_state_publisher nodes  -->
	<arg name="model" />
	<param name="robot_description" command="$(find xacro)/xacro $(find kuka_tree_print)/urdf/kuka_iiwa.xacro" />
<!--	<param name="use_gui" value="true"/>-->
<!--	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />-->
	
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
      <remap from="joint_states" to="/sim_ros_interface/joint_states" />
      </node>

	<node pkg="kuka_tree_print" name="kuka_tree_control" type="kuka_tree_control" output="screen">

		<param name="left_lim" value="1.2" />
		<param name="right_lim" value="-1.2" />

	</node>

</launch>
